doctype html
html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title Tim vs Jack
      link(rel="stylesheet", type="text/css", href="/styles/styles.css")
      link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css")
   body
      section.hero.is-info
         .hero-body
            p.title
               | Tim vs Jack
            p.subtitle
               | The race to 3000 miles                  
      div.container 
         section.section     
            if flashMessage
               article.message.is-primary
                  .message-body
                     | #{flashMessage}
            div.columns
               div.column.is-two-thirds
                  article.message.is-info
                     .message-header
                        p Want in?
                     .message-body
                        | Simply 
                        a(href='/authorize') connect your Strava 
                        |  to join the board today
                  
                  h2.subtitle As it stands
                  div.chartBox.box
                     canvas#myChart
                  h2.subtitle The story so far
                  div.chartBox.box
                     canvas#lineChart
                  
               div.column
                  h1.title Comments
                  each comment in comments
                     article.media.box
                        figure.media-left
                           p.image.is-64x64
                              img(src='https://bulma.io/images/placeholders/128x128.png')
                        .media-content
                           .content
                              p
                              strong=comment.user+" "
                              small #{formatTimeAgo(comment.dateTime)}
                              br
                              |         #{comment.content}
                           nav.level.is-mobile
                              .level-left
                              a.level-item
                                 span.icon.is-small
                                    i.fas.fa-reply
                              a.level-item
                                 span.icon.is-small
                                    i.fas.fa-retweet
                              a.level-item
                                 span.icon.is-small
                                    i.fas.fa-heart
                  div.box
                     h1.title Add a comment
                     form(action = "/", method = "POST")
                        div.field
                           label.label(for = "user") Name:
                           .control 
                              input.input(name = "user")
                        div.field
                           label.label(for = "comment") Comment:
                           .control 
                              textarea.textarea(name = "comment" placeholder = "Add a comment...")
                        button.button(type = "submit") Submit
                        

      script.
         var users = !{JSON.stringify(users).replace(/<\//g, "<\\/")}
         var lineData_tim = !{JSON.stringify(lineData_tim).replace(/<\//g, "<\\/")}
         var lineData_jack = !{JSON.stringify(lineData_jack).replace(/<\//g, "<\\/")}
                  
      script(src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js")
      script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js")
      script(src="/scripts/chart.js")
      script(src="/scripts/chart_line.js")


